<div class="container-fluid bg footer">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 mt-3  text-center">
                <img src="../../assets/logo.svg" alt="happychannel logo">
                <div class="mt-2">
                    <h5 class="text">Happy Channel</h5>
                    <p class="text mottos">Quality is first priority for us!</p>
                </div>
            </div>
            <div class="col-md-8 text-center mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="text">Follow us!</h5>
                        <p class="text mt-4">Facebook</p>
                        <p class="text">
                            Messenger
                        </p>
                        <p class="text">
                            Telegram
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text">Legal</h5>
                        <p class="text mt-4">Privacy policy</p>
                        <p class="text">
                            Terms of Services.
                        </p>
                        <p class="text">
                            FAQ?
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text">Company</h5>
                        <p class="text mt-4">About us</p>
                        <p class="text">
                            Jobs
                        </p>
                    </div>
                </div>
            </div>
            <p class="text-center text mt-4">copyright 2022 Happy Channel.All rights reserved.</p>
        </div>
        <!-- <div class="copyright text-center text mt-3">
            <p>copyright 2022 Happy Channel.All rights reserved.</p>
        </div> -->
    </div>
</div>