<div class="container mt-5">
    <div class="wapper mt-2">
        <div class="items">
            <img src="../../assets/imgs/PK-movie.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../assets/imgs/lord-of-the-ring.jpeg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/harry-potter.jpeg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/tatnic.jpg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/twilight.jpeg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/PK-movie.jpg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/PK-movie.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../assets/imgs/lord-of-the-ring.jpeg" alt="">
    
        </div>
        <div class="items">
            <img src="../../assets/imgs/harry-potter.jpeg" alt="">
    
        </div>
    
    </div>

</div>